/mokymai3
*.jpg
*.jpeg
__pycache__
PetImages
Ana
is_that_santa
vegetables
vegetables.h5
vegetables2.h5
autoplius
is_apple
*.csv
*.txt
*.dat
*.pdf
vegetables
*.png
motociklai
automobiliai
*.json
*.xlsx
*.xls
*.xlsm
help.ipynb
help.py